<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkout</title>
  <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <script src="./js/bootstrap.bundle.min.js"></script>
  <header th:replace="fragments/header.html :: header"></header>
  <main>
    <form action="/cart/payment" method="post"th:object="${address}" >
    <div class="container mt-4">
      <h1>Checkout</h1>
      <div class="row">
        <div class="col-8">

            <div class="row">
              <div class="col">
                <h5 class="card-title mt-4">Address Information</h5>
                <div class="card mb-3">
                  <div class="card-body">
<!--                    <input type="hidden" name="studentId" th:field="*{addressId}" />-->
                    <label  class="form-label">Street</label>
                      <div>
                          <span th:if="${#fields.hasErrors('street')}" th:errors="*{street}" style="color: red"></span>
                      </div>
                    <input type="text" name="street" th:value="${address.street}" class="form-control" placeholder="Street" >

                      <label  class="form-label">City</label>
                      <div>
                          <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" style="color: red"></span>
                      </div>
                    <input type="text" name="city" th:value="${address.city}" class="form-control" placeholder="City">

                      <label class="form-label">State</label>
                      <div>
                          <span th:if="${#fields.hasErrors('state')}" th:errors="*{state}" style="color: red"></span>
                      </div>
                    <input type="text" name="state" th:value="${address.state}" class="form-control" placeholder="State">

                      <label  class="form-label">ZipCode</label>
                      <div>
                          <span th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}" style="color: red"></span>
                      </div>
                    <input type="text" name="zipCode" th:value="${address.zipCode}" class="form-control" placeholder="Zip">
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col">
                <h5 class="card-title mt-4">Card Information</h5>
                <div class="card mb-3">
                  <div class="card-body">

                    <label  class="form-label">Card Number</label>

                    <input type="text" class="form-control" placeholder="xxxxxxxxxxx">
                    <label  class="form-label">Expiry</label>
                    <div class="row">
                      <div class="col-auto">
                        <input type="text" class="form-control" placeholder="MM">
                      </div>
                      <div class="col-auto"><input class="form-control" type="text"
                                                   placeholder="YYYY"></div>
                    </div>
                    <label  class="form-label">CVV</label>
                    <input type="text" class="form-control" placeholder="CVV">

                  </div>
                </div>
              </div>
            </div>



        </div>
        <div class="col-4">
          <h5 class="card-title mt-4">Total</h5>
          <ul class="list-group">
            <li class="list-group-item" th:text="'Price $'+ ${sum}"></li>
            <li class="list-group-item">Tax: $0.00</li>
            <li class="list-group-item">Shipping: $0.00</li>
            <li class="list-group-item" th:text="'Total $'+${sum}"></li>
            <li class="list-group-item">
              <a class="btn btn-outline-secondary" href="/product/cart">Back to Cart</a>


              <button class="btn btn-primary" type="submit">Pay Now</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </form>
  </main>

  <div>
    <div th:replace="fragments/footer.html :: footer"></div>
  </div>

</html>