<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <title>Will Contact</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header th:replace="fragments/header.html :: header"> </header>
<main style="height: 425px;">
    <div id="mainContainer" class="container">
        <h3>Thank you for your message</h3>
        <p>We will contact you soon</p>
    </div>
</main>
<div>
    <div th:replace="fragments/footer.html :: footer"></div>
</div>

</body>

</html>